# Dependencies useful for development
# (but not required by the library code or its tests)

tox>=1.8
invoke<0.13
# TODO: consider upgrading to Invoke 0.13
# (requires task functions to accept explicit Context object)

# docs
Sphinx>=1.1
alabaster
